<% provide :title, @tour.name %>
<div class="row">
  <div class="col-md-9">
    <div class="well well-sm">
      <h2><%= @tour.name %></h2>
      <h3><%= @tour.description.html_safe %></h3>
    </div>
  </div>
  <div class="col-md-3">
    <div class="well well-sm">
      <div class="row">
        <div class="col-md-6">
          <h3 class="glyphicon glyphicon-euro"><%= @tour.price %>
          <%= t :money %></h3>
        </div>
        <div class="col-md-6">
          <h3 class="glyphicon glyphicon-calendar"><%= @tour.duration %>
          <%= t :day %></h3>
        </div>
      </div>
    </div>
    <% if policy(@booking).new? %>
      <div>
        <%= render "bookings/new" %>
      </div>
    <% end %>
  </div>
</div>

<div style = "margin-left: 20%">
  <h3><%= t "comment.title" %></h3>
  <div class="row">
    <div class="col-md-10">
      <% if policy(@comment).create? %>
        <%= form_for [@tour, @comment] do |f| %>
          <%= f.text_area :body, placeholder: t("comment.add_a_comment") %><br>
          <%= f.submit t ("comment.add_comment") %>
        <% end %>
      <% end %>
    </div>
  </div><br>

  <%= render partial: "comments/comment",
    collection: @tour.comments.order(created_at: :desc) %>
</div>
<%= rating_for @tour, "quality", disable_after_rate: true,
  enable_half: true %>
<% if @tour.rates("quality").count > 0 %>
<%= t "rate.rating" %><%= @tour.average("quality").avg %><br>
<%= t "rate.from" %><%= @tour.rates("quality").count %><%= t "rate.votes" %>
<% end %>
