<div class="container">
  <h2><%= @category.name %></h2><br>
  <div id="products" class="row list-group">
    <% @tours.each do |tour|%>
      <div class="item col-md-3">
        <div class="thumbnail">
          <%= link_to tour_path tour do %><%= image_tag tour.image %><% end %>
          <div class="caption">
            <h3 class="group inner list-group-item-heading">
              <%= link_to tour.name, tour_path(tour) %>
            </h3>
            <%= rating_for tour, "quality", disable_after_rate: true,
              enable_half: true %>
            <p class="group inner list-group-item-text">
              <div id="edited_text">
                <%= tour.description.html_safe %>
              </div>
            </p>
            <div class="row">
              <div class="col-md-6">
                <p class="lead">
                  <%= tour.price %><%= t :money %>
                </p>
              </div>
              <div class="col-md-6">
                <p class="lead">
                  <%= tour.duration %><%= t :day %>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
